In [1]:
import csv
from collections import namedtuple

In [2]:
data_row = namedtuple('NaceRow', 'sekce oddil skupina trida nazev')
data = []

with open('_NACE_data/nace.csv', 'r') as f:
    reader = csv.reader(f, delimiter='\t', quotechar='"')
    row = next(reader) # zahlavi
    while True:
        #print(row)
        try:
            row = next(reader)
            assert len(row) == 5
            dr = data_row(row[0], row[1], row[2], row[3], row[4])
            # print(dr)
            data.append(dr)
        except Exception as e:
            print(e.__class__)
            print(e)
            break

<class 'StopIteration'>

In [3]:
# lepsi verze
data = []

with open('_NACE_data/nace.csv', 'r') as f:
    reader = csv.reader(f, delimiter='\t', quotechar='"')
    row = next(reader) # zahlavi
    data_row = namedtuple('NaceRow', ' '.join(row))
    while True:
        #print(row)
        try:
            row = next(reader)
            assert len(row) == 5
            dr = data_row(*row)
            # print(dr)
            data.append(dr)
        except Exception as e:
            print(e.__class__)
            print(e)
            break

<class 'StopIteration'>

In [4]:
# nejlepsi verze
data = []

with open('_NACE_data/nace.csv', 'r') as f:
    reader = csv.reader(f, delimiter='\t', quotechar='"')
    row = next(reader) # zahlavi
    n_column = len(row)
    data_row = namedtuple('NaceRow', ' '.join(row))
    try:
        while (row := next(reader)):
            assert len(row) == n_column
            data.append(data_row(*row))
    except StopIteration as e:
            print("Hotovo! Řádek:", len(data))

Hotovo! Řádek: 1156

In [5]:
data[:10]

[NaceRow(sekce='A', oddil='', skupina='', trida='', nazev='SEKCE A - ZEMĚDĚLSTVÍ, LESNICTVÍ A\xa0RYBÁŘSTVÍ'),
 NaceRow(sekce='A', oddil='01', skupina='', trida='', nazev='Rostlinná a živočišná výroba, myslivost a související činnosti'),
 NaceRow(sekce='A', oddil='01', skupina='01.1', trida='', nazev='Pěstování plodin jiných než trvalých'),
 NaceRow(sekce='A', oddil='01', skupina='01.1', trida='01.11', nazev='Pěstování obilovin (kromě rýže), luštěnin a olejnatých semen'),
 NaceRow(sekce='A', oddil='01', skupina='01.1', trida='01.12', nazev='Pěstování rýže'),
 NaceRow(sekce='A', oddil='01', skupina='01.1', trida='01.13', nazev='Pěstování zeleniny a melounů, kořenů a hlíz'),
 NaceRow(sekce='A', oddil='01', skupina='01.1', trida='01.14', nazev='Pěstování cukrové třtiny'),
 NaceRow(sekce='A', oddil='01', skupina='01.1', trida='01.15', nazev='Pěstování tabáku'),
 NaceRow(sekce='A', oddil='01', skupina='01.1', trida='01.16', nazev='Pěstování přadných rostlin'),
 NaceRow(sekce='A', oddil='01', skupina='01.1', trida='01.19', nazev='Pěstování ostatních plodin jiných než trvalých')]

In [6]:
data[0].sekce

'A'

In [7]:
for nr in data:
    if (nr[1] == '' and nr[2] == '' and nr[3] == ''):
        print(nr.sekce)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U

In [8]:
import pandas as pd

/var/folders/fb/xl0hnskx527bfqkv38l3sn7h0000gn/T/ipykernel_75497/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [9]:
df = pd.DataFrame(data)

In [10]:
df

,sekce,oddil,skupina,trida,nazev
0,A,,,,"SEKCE A - ZEMĚDĚLSTVÍ, LESNICTVÍ A RYBÁŘSTVÍ"
1,A,01,,,"Rostlinná a živočišná výroba, myslivost a souv..."
2,A,01,01.1,,Pěstování plodin jiných než trvalých
3,A,01,01.1,01.11,"Pěstování obilovin (kromě rýže), luštěnin a ol..."
4,A,01,01.1,01.12,Pěstování rýže
...,...,...,...,...,...
1151,T,98,98.2,98.20,Činnosti domácností poskytujících blíže neurče...
1152,U,,,,SEKCE U - ČINNOSTI EXTERITORIÁLNÍCH ORGANIZACÍ...
1153,U,99,,,Činnosti exteritoriálních organizací a orgánů
1154,U,99,99.0,,Činnosti exteritoriálních organizací a orgánů
1155,U,99,99.0,99.00,Činnosti exteritoriálních organizací a orgánů

In [11]:
df[df['oddil'].isnull()]

Empty DataFrame
Columns: [sekce, oddil, skupina, trida, nazev]
Index: []

In [14]:
import numpy as np
df.replace({'':np.NAN}, inplace=True)

In [15]:
df

,sekce,oddil,skupina,trida,nazev
0,A,NaN,NaN,NaN,"SEKCE A - ZEMĚDĚLSTVÍ, LESNICTVÍ A RYBÁŘSTVÍ"
1,A,01,NaN,NaN,"Rostlinná a živočišná výroba, myslivost a souv..."
2,A,01,01.1,NaN,Pěstování plodin jiných než trvalých
3,A,01,01.1,01.11,"Pěstování obilovin (kromě rýže), luštěnin a ol..."
4,A,01,01.1,01.12,Pěstování rýže
...,...,...,...,...,...
1151,T,98,98.2,98.20,Činnosti domácností poskytujících blíže neurče...
1152,U,NaN,NaN,NaN,SEKCE U - ČINNOSTI EXTERITORIÁLNÍCH ORGANIZACÍ...
1153,U,99,NaN,NaN,Činnosti exteritoriálních organizací a orgánů
1154,U,99,99.0,NaN,Činnosti exteritoriálních organizací a orgánů
1155,U,99,99.0,99.00,Činnosti exteritoriálních organizací a orgánů

In [16]:
# Sekce
df[df['oddil'].isnull()]

,sekce,oddil,skupina,trida,nazev
0,A,NaN,NaN,NaN,"SEKCE A - ZEMĚDĚLSTVÍ, LESNICTVÍ A RYBÁŘSTVÍ"
60,B,NaN,NaN,NaN,SEKCE B - TĚŽBA A DOBÝVÁNÍ
103,C,NaN,NaN,NaN,SEKCE C - ZPRACOVATELSKÝ PRŮMYSL
472,D,NaN,NaN,NaN,"SEKCE D – VÝROBA A ROZVOD ELEKTŘINY, PLYNU, TE..."
492,E,NaN,NaN,NaN,SEKCE E – ZÁSOBOVÁNÍ VODOU; ČINNOSTI SOUVISEJÍ...
512,F,NaN,NaN,NaN,SEKCE F - STAVEBNICTVÍ
555,G,NaN,NaN,NaN,SEKCE G - VELKOOBCHOD A MALOOBCHOD; OPRAVY A Ú...
689,H,NaN,NaN,NaN,SEKCE H - DOPRAVA A SKLADOVÁNÍ
745,I,NaN,NaN,NaN,"SEKCE I - UBYTOVÁNÍ, STRAVOVÁNÍ A POHOSTINSTVÍ"
772,J,NaN,NaN,NaN,SEKCE J - INFORMAČNÍ A KOMUNIKAČNÍ ČINNOSTI
828,K,NaN,NaN,NaN,SEKCE K - PENĚŽNICTVÍ A POJIŠŤOVNICTVÍ
867,L,NaN,NaN,NaN,SEKCE L - ČINNOSTI V OBLASTI NEMOVITOSTÍ
880,M,NaN,NaN,NaN,"SEKCE M - PROFESNÍ, VĚDECKÉ A TECHNICKÉ ČINNOSTI"
934,N,NaN,NaN,NaN,SEKCE N - ADMINISTRATIVNÍ A PODPŮRNÉ ČINNOSTI
995,O,NaN,NaN,NaN,SEKCE O - VEŘEJNÁ SPRÁVA A OBRANA; POVINNÉ SOC...
1012,P,NaN,NaN,NaN,SEKCE P – VZDĚLÁVÁNÍ
1042,Q,NaN,NaN,NaN,SEKCE Q - ZDRAVOTNÍ A SOCIÁLNÍ PÉČE
1079,R,NaN,NaN,NaN,"SEKCE R - KULTURNÍ, ZÁBAVNÍ A REKREAČNÍ ČINNOSTI"
1106,S,NaN,NaN,NaN,SEKCE S - OSTATNÍ ČINNOSTI
1143,T,NaN,NaN,NaN,SEKCE T - ČINNOSTI DOMÁCNOSTÍ JAKO ZAMĚSTNAVAT...
1152,U,NaN,NaN,NaN,SEKCE U - ČINNOSTI EXTERITORIÁLNÍCH ORGANIZACÍ...

In [19]:
# Oddíl
df[~df['oddil'].isnull() & df['skupina'].isnull()]

,sekce,oddil,skupina,trida,nazev
1,A,01,NaN,NaN,"Rostlinná a živočišná výroba, myslivost a souv..."
44,A,02,NaN,NaN,Lesnictví a těžba dřeva
53,A,03,NaN,NaN,Rybolov a akvakultura
61,B,05,NaN,NaN,Těžba a úprava černého a hnědého uhlí
72,B,06,NaN,NaN,Těžba ropy a zemního plynu
...,...,...,...,...,...
1125,S,95,NaN,NaN,Opravy počítačů a výrobků pro osobní potřebu a...
1136,S,96,NaN,NaN,Poskytování ostatních osobních služeb
1144,T,97,NaN,NaN,Činnosti domácností jako zaměstnavatelů domácí...
1147,T,98,NaN,NaN,Činnosti domácností produkujících blíže neurče...
1153,U,99,NaN,NaN,Činnosti exteritoriálních organizací a orgánů

In [20]:
# Skupina
df[~df['oddil'].isnull() & ~df['skupina'].isnull() & df['trida'].isnull()]

,sekce,oddil,skupina,trida,nazev
2,A,01,01.1,NaN,Pěstování plodin jiných než trvalých
10,A,01,01.2,NaN,Pěstování trvalých plodin
20,A,01,01.3,NaN,Množení rostlin
22,A,01,01.4,NaN,Živočišná výroba
35,A,01,01.5,NaN,Smíšené hospodářství
...,...,...,...,...,...
1137,S,96,96.0,NaN,Poskytování ostatních osobních služeb
1145,T,97,97.0,NaN,Činnosti domácností jako zaměstnavatelů domácí...
1148,T,98,98.1,NaN,Činnosti domácností produkujících blíže neurče...
1150,T,98,98.2,NaN,Činnosti domácností poskytujících blíže neurče...
1154,U,99,99.0,NaN,Činnosti exteritoriálních organizací a orgánů

In [21]:
# Třída
df[~df['oddil'].isnull() & ~df['skupina'].isnull() & ~df['trida'].isnull()]

,sekce,oddil,skupina,trida,nazev
3,A,01,01.1,01.11,"Pěstování obilovin (kromě rýže), luštěnin a ol..."
4,A,01,01.1,01.12,Pěstování rýže
5,A,01,01.1,01.13,"Pěstování zeleniny a melounů, kořenů a hlíz"
6,A,01,01.1,01.14,Pěstování cukrové třtiny
7,A,01,01.1,01.15,Pěstování tabáku
...,...,...,...,...,...
1142,S,96,96.0,96.09,Poskytování ostatních osobních služeb j. n.
1146,T,97,97.0,97.00,Činnosti domácností jako zaměstnavatelů domácí...
1149,T,98,98.1,98.10,Činnosti domácností produkujících blíže neurče...
1151,T,98,98.2,98.20,Činnosti domácností poskytujících blíže neurče...
1155,U,99,99.0,99.00,Činnosti exteritoriálních organizací a orgánů

In [23]:
# Sekce neni nikdy null
df[df['sekce'].isnull()]

Empty DataFrame
Columns: [sekce, oddil, skupina, trida, nazev]
Index: []